@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

/* navbar */

header nav {
  background-color: #000000;
}

header nav a {
  margin-left: 10px;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* main-header-section */

.header .main-header {
  min-height: 100vh;
}

.header .main-header h3 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 200px;
}

.header .main-header p {
  opacity: 0.6;
  margin-top: 20px;
  font-size: 20px;
}

.header .main-header input {
  border-radius: 0%;
}

.header .main-header button {
  width: 120px;
  height: 45px;
  background-color: #000000;
  border: none;
  border-radius: 0%;
}

/* about-section */

.about {
  min-height: 500px;
  padding-top: 70px;
}

.about img {
  position: relative;
  width: 100%;
  bottom: 30px;
  object-fit: cover;
}

.about h3 {
  font-size: 40px;
  font-weight: 600;
}

.about p {
  font-size: 18px;
}

.about .text {
  margin-top: 1.5rem;
}

.about button {
  width: 120px;
  height: 45px;
  background-color: #000000;
  border: none;
  border-radius: 0%;
}

/* product */
.product {
  padding-top: 75px;
  padding-bottom: 75px;
}

.product h3 {
  font-size: 40px;
  font-weight: 600;
}

.product h5 {
  text-transform: uppercase;
  font-size: 18px;
}

.product p {
  font-size: 16px;
}

.product .card {
  margin-top: 1.5rem;
  border: none;
  border-radius: 0%;
}

.product img {
  height: 300px;
  border-radius: 0%;
  object-fit: cover;
}

.product .btn {
  width: 120px;
  height: 45px;
  background-color: #000000;
  border: none;
  border-radius: 0%;
  align-content: center;
}

/* Blog - section */

/* faq-section */

.faq {
  min-height: 600px;
  padding-top: 70px;
}

.faq h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.faq .accordion {
  width: 60rem;
  margin-top: 1.5rem;
}

.faq .accordion-header button {
  color: #000000;
}

.faq .accordion button {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.faq .accordion .accordion-body {
  font-size: 16px;
}

.faq .accordion button:focus {
  border-color: #ffffff;
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background-color: #ffffff;
}

.faq .accordion-button:not(.collapsed)::after {
  color: black;
}

/* contact - section */
.contact {
  min-height: 750px;
  padding-top: 70px;
  padding-bottom: 100px;
}

.contact h2 {
  font-size: 28px;
  margin-top: 30px;
}

.contact h3 {
  font-size: 50px;
  font-weight: 600;
}

.contact iframe {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.contact .form-control {
  border-radius: 0%;
}

.contact input[type="text"] {
  height: 45px;
}

.contact input[type="email"] {
  height: 45px;
}

.contact .btn {
  width: 120px;
  height: 45px;
  background-color: #000000;
  border: none;
  border-radius: 0%;
}

/* footer - section */
.footer {
  height: 120px;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.footer p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media (min-width: 576px) {
  .header .main-header h3 {
    font-size: 55px;
  }

  .header .main-header p {
    font-size: 18px;
  }

  .about p {
    font-size: 16px;
  }

  .product h5 {
    font-size: 20px;
  }

  .contact {
    padding-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .header .main-header h3 {
    font-size: 55px;
  }

  .header .main-header p {
    font-size: 18px;
  }

  .about p {
    font-size: 16px;
  }

  .about img {
    position: relative;
    width: 550px;
    bottom: 15px;
    left: 10px;
    object-fit: cover;
  }

  .faq .accordion {
    width: 45rem;
    margin-top: 1.5rem;
  }

  .contact h3 {
    font-size: 40px;
  }

  .contact h2 {
    font-size: 28px;
    margin-top: 5px;
  }
}

@media (min-width: 992px) {
  .header .main-header h3 {
    font-size: 60px;
    margin-top: 230px;
  }

  .header .main-header p {
    font-size: 18px;
  }

  .about p {
    font-size: 16px;
  }

  .product h5 {
    font-size: 22px;
  }

  .product p {
    font-size: 16px;
  }

  .faq .accordion {
    width: 60rem;
    margin-top: 1.5rem;
  }

  .faq .accordion button {
    font-size: 20px;
  }

  .faq .accordion .accordion-body {
    font-size: 18px;
  }

  .contact h3 {
    font-size: 40px;
  }

  .contact h2 {
    font-size: 28px;
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .header .main-header h3 {
    font-size: 70px;
  }

  .header .main-header p {
    font-size: 20px;
  }

  .about img {
    position: relative;
    width: 550px;
    bottom: 30px;
    left: 10px;
    object-fit: cover;
  }

  .about h3 {
    font-size: 50px;
  }

  .product h3 {
    font-size: 50px;
  }

  .product h5 {
    font-size: 24px;
  }

  .product p {
    font-size: 18px;
  }

  .faq h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
  }

  .faq .accordion {
    width: 60rem;
    margin-top: 1.5rem;
  }

  .faq .accordion button {
    font-size: 22px;
  }

  .faq .accordion .accordion-body {
    font-size: 18px;
  }

  .contact h3 {
    font-size: 50px;
  }

  .contact h2 {
    font-size: 28px;
    margin-top: 5px;
  }
}

@media (min-width: 1400px) {
  .header .main-header h3 {
    font-size: 70px;
  }

  .header .main-header p {
    font-size: 20px;
  }

  .header .main-header form {
    margin-top: 50px;
  }

  .about img {
    position: relative;
    width: 500px;
    bottom: 40px;
    left: 50px;
    object-fit: cover;
  }

  .about h3 {
    font-size: 50px;
    font-weight: 600;
  }

  .about p {
    font-size: 18px;
  }

  .product h3 {
    font-size: 50px;
    font-weight: 600;
  }

  .product p {
    font-size: 16px;
  }

  .faq h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
  }

  .faq .accordion {
    width: 60rem;
    margin-top: 1.5rem;
  }

  .faq .accordion button {
    font-size: 22px;
  }

  .faq .accordion .accordion-body {
    font-size: 18px;
  }

  .contact h3 {
    font-size: 50px;
    font-weight: 600;
  }

  .contact iframe {
    object-fit: cover;
    width: 100%;
    height: 500px;
  }

  .contact h2 {
    font-size: 28px;
    margin-top: 5px;
  }
}
